/*********************NAVIGATION**************************/

nav {
  background-color: rgba(71, 158, 178, 0.3);
}

.navbar-light .navbar-nav .nav-link {
  color:  #479eb2;
  text-align: center;
  padding-bottom: 5px;
}

a.nav-link:active {
color: #f2ec1c;
}

a.nav-link {
  font-size: 16px;
  border-right-style: solid;
  margin-right: 12px;
  }


.logo {
  width: 140px;
  padding-left: 40px;
}

.websiteh1 {
color: white;
font-size: 40px;
padding-top: 15px;
padding-bottom: 10px;
padding-left: 150px;
}


/***************************ADD TASK********************************/

/** image**/
.addtask {
padding-top: 200px;
padding-right: 20px;
width: 100px;
}

form {
  border: solid;
  border-width: thin;
  padding: 30px;
  margin-top: 170px;
  margin-bottom: 100px;
  margin-left: 220px;
}

form.home_form {
border: none;
border-width: thin;
padding: 0px;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

h1.add_task_h1 {
font-size: 30px;
padding-left: 180px;
padding-bottom: 10px;
}


img.bin.float-right {
width: 65px;
padding-bottom: 5px;
}

.savetask{
background-color: #479eb2;
border: solid;
color: white;
font-size: 25px;
text-align: center;
border-radius: 10px;
}

/***********************MY TASKS PAGE HEADING********************************/
#taskapp_page_heading {
padding-top: 170px;
padding-left: 500px;
font-size: 30px;
}


/***************************SORT BY********************************/
.sortby {
padding-top: 20px;
padding-left: 100px
}


/***************************CARD RESULTS********************************/

div.media-body {
padding-top: 10px;
}

label.card-title {
  font-size: 25px;
  font-weight: bold;
}

div.card-header{
text-align: center;
}

div.card {
  border-width: 3px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.pencil {
  width: 50px;
  padding-left: 10px;
}

p.card-description {
  padding-top: 10px;
}

.scrolling-cards {
  display: block;
  width: 1000px;
  height: 650px;
  padding: 1em;
  overflow-y: scroll;
}

button.taskcomplete {
  background-color: #479eb2;
  border: solid;
  color: white;
  font-size: 25px;
  text-align: center;
  border-radius: 10px;
}

#bin-picture {
  background: url("../static/images/bin_image.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 70px;
  width: 50px;
  padding: 2px;
  border: none;
}


/*********************SOCIAL BUTTONS****************************/
.btn-twitter {
  background-color: #1da1f2;
  border: none;
}

.btn-facebook {
  background-color: #3b5998;
  border: none;
}

.btn-linkedin {
  background-color: #0077b5;
  border: none;
}

.btn-twitter:hover {
  background-color: #60BDF6;
}

.btn-facebook:hover {
  background-color: #768BB7;
}

.btn-linkedin:hover {
  background-color: #86888a;
}


/*********************FOOTER & LEGALS****************************/

footer {
  padding-top: 10px;
  text-align: center;
  background-color: rgba(71, 158, 178, 0.3);
}

.legalrights {
padding-top: 15px;
font-size: 11px;
color: black;
}


/*****************************MEDIA QUERIES****************************/
