{% extends "layout.html" %}

{% block content %}

<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg light">
		<a href="{{ url_for('home') }}"><img src="static/images/logo.png" alt='Logo.'/></a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" href="{{ url_for('home') }}">View Tasks</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="http://127.0.0.1:5000/new_task">Add a Task</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="">Sign up</a>
				</li>
			</ul>
		</div>
	</nav>

	<main class="taskapp_background">

		<section id="add_a_task_image">
			<a href="{{ url_for('new_task') }}"><img class="addtask float-right" src="static/images/plus_image.png" alt="Adding task." /></a>
			<div class="container">
				<div class="row">
					<div class="col-sm col-md col-lg col-xl">
					</div>
				</div>
			</div>
		</section>


		<section id="taskapp_page_heading">
			<p class="tasks_todo">My Tasks - To Do:</p>

			<div class="container">
				<div class="row">
					<div class="col-sm col-md col-lg col-xl">
					</div>
				</div>
			</div>
		</section>


		<div class="sortby row">
			<p class="col-sm-1 col-md-1 col-lg-1 col-xl-1">Sort by:</p>
			<div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="sort-radio" id="sort-by-priority-radio" value="1" checked="checked">
					<label class="form-check-label" for="sort-by-priority-radio">Priority</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="sort-radio" id="sort-by-duedate-radio" value="2">
					<label class="form-check-label" for="sort-by-duedate-radio">Due Date</label>
				</div>
			</div>
		</div>

		<section id="tasks_display">
			<div class="container">
<p id="api-resp">

	</p>
				<div class="scrolling-cards">
					<ul id="cards-unstyled">

						<div class="row">
							{% for dict in api_data %}

							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">

								<div class="card">
									<div class="card-body">
										<form class="home_form" method="post" action="/">
										<div class="card-header">
											<label class="card-title" for="title"> {{ dict['title'] }}</label>
											<input type="hidden" id="title" name="title" />

										</div>
										<label class="card-description" for="description"> {{ dict['description'] }}.</label>
										<input type="hidden" id="description" name="description" />
										<p class="card-date-created" for="date_created">Date created: {{ dict['date_created'] }}</p>
										<input type="hidden" id="date_created" name="date_created" />
										<p class="card-date-due" for="date_due">Due Date: {{ dict['date_due'] }}</p>
										<input type="hidden" id="date_due" name="date_due" />
										<p class="card-date-due" for="date_due">Priority: {{ dict['priority'] }}</p>
										<input type="hidden" id="date_due" name="date_due" />
										<input type="hidden" id="id" name="id" value="{{ dict['id'] }}" />
										<button type="submit" name="find_task_submit" button class="taskcomplete btn btn-primary btn-lg">Task Complete</button>
																	<img class="bin float-right" src="static/images/bin_image.png" alt="Bin image to delete task."/>
</form>
									</div>
								</div>

							</div>

							{% endfor %}
					</ul>
				</div>

			</div>
		</section>
	</main>
	<script>
	console.log("starting javascript")
	let url = 'http://127.0.0.1:5000/tasks';

	get_api_data = function httpGet()
	{
	  var xmlHttp = new XMLHttpRequest();
	  xmlHttp.open("GET", 'http://127.0.0.1:5000/tasks', false);
	  xmlHttp.send(null);
		console.log(xmlHttp)
	  return JSON.parse(xmlHttp.response);
	};

	response = get_api_data()

	console.log(response);
	console.log("resp 0 ", response[0])
	var formatted_tasks = []
	console.log("starting for loop")
	for (var i = 0; i < response.length; i++){
		console.log(response[i])
		description = response[i]["description"]
		console.log(description)
		formatted_tasks.push(description + "<br />")

	}

	document.getElementById("api-resp").innerHTML = formatted_tasks
	</script>
	{% endblock content %}
